.pagination {
  display: flex;
  align-items: center;
  gap: 8px;
  .pagination__item {
    &.active {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 39px;
      height: 39px;
      border: 1px solid #0b8d85;
      border-radius: 50%;

      a {
        color: #2d5e5b;
        font-size: 21px;
      }
    }

    a {
      text-decoration: none;
      color: #273444;
      font-size: 18px;
    }
  }
}
