.featured__posts {
  display: grid;
  grid-template: 320px 320px / 1fr 1fr;
  gap: 32px;
  width: 100%;

  .featured__post {
    display: block;
    height: 100%;
    width: 100%;
    position: relative;
    text-decoration: none;
    overflow: hidden;

    &:nth-child(3n + 1) {
      grid-area: 1 / 1 / 3 / 2;

      .featured__post__title {
        font-size: 36px;
      }
    }

    .featured__post__title {
      position: absolute;
      bottom: 32px;
      padding: 0 32px;
      margin: 0;
      z-index: 2;
      color: #ffffff;
      font-weight: 600;
      font-size: 22px;
    }

    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 50%;
      bottom: 0;
      z-index: 1;
      background: linear-gradient(180deg, rgba(11, 11, 11, 0) 0%, #0b0b0b 100%);
    }

    .featured__post__image {
      display: block;
      object-fit: cover;
      width: 100%;
      height: 100%;
      transition: 0.5s;
    }

    &:hover .featured__post__image {
      transform: scale(1.02);
    }
  }
}

.top-posts {
  display: grid;
  grid-template: minmax(400px, auto) / 1fr 1fr 1fr;
  gap: 60px 40px;
  width: 100%;

  .top-posts__post {
    position: relative;
    display: block;
    text-decoration: none;
    grid-area: auto;
  }

  .top-posts__post__category {
    text-transform: uppercase;
    font-size: 10px;
    padding: 4px 12px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
  }

  .top-posts__post__image {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 284px;
  }
}

@media (max-width: 991.98px) {
  .featured__posts {
    grid-template: 400px / 1fr;
    justify-content: center;
    width: 100%;

    .featured__post:nth-child(3n + 1) {
      grid-area: 1 / 1;

      .featured__post__title {
        font-size: 22px;
      }
    }

    .featured__post .featured__post__image {
      height: 400px;
    }
  }

  .top-posts {
    grid-template: minmax(380px, auto) / 1fr 1fr;
  }
}

@media (max-width: 767.98px) {
  .top-posts {
    grid-template: minmax(380px, auto) / 1fr;
    justify-content: center;

    .top-posts {
      max-height: 360px;
    }
  }
}

@media (max-width: 575.98px) {
  .featured__posts {
    grid-template: 320px / 1fr;
    .featured__post .featured__post__image {
      height: 320px;
    }
  }

  .top-posts .top-posts__post .top-posts__post__category {
    font-size: 12px;
  }
}
